@model ONEZEROHOTEL.Models.Client
@{
    ViewData["Title"] = "SignUP";
}

<section class="sign-up">
<div class="sign-up-sub">
    <div class="sign-up-img">
         <img src="~/Img/topRight.png" alt="cabin" />
    </div>
   <div class="signup-form">

        <form asp-controller="Client" asp-action="SignUp">

            <input asp-for="FirstName" type="text" placeholder="First Name" required>
            <input asp-for="LastName" type="text" placeholder="Last Name" required>
            <input asp-for="Email" type="text" placeholder="Email" required>
            <input asp-for="Password" type="password" placeholder="Password" required>
            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" required>
            <div class="sign-up-form">
                <input type="submit">
            </div>

        </form>
   </div>
</div>
</section>

