@{
    ViewData["Title"] = "SignUp Page";
}

<section class="reg-header">

    <div class="reg-header-text">
        <h1>WELCOME TO <span>Stay</span>cation</h1>
        <p>Experience something new every moment</p>
    </div>
    <!-- <div class="reg-header-p">
    <p>Experience something new every moment</p></div> -->

    <div class="reg-sub">
        <div class="reg-sub-img">
            <div class="img-frame">
                <img src="Img/topRight.png" alt="">
            </div>

        </div>
        <div class="reg-sub-form1">
            <form action="">
                <div class="form">
                    <label for="first-name"><h3>First Name</h3></label>
                    <input type="text" required>
                </div>
                <div class="form">
                    <label for="last-name"><h3>Last Name</h3></label>
                    <input type="text" required>
                </div>
                <div class="form">
                    <label for="email"><h3>Email</h3></label>
                    <input type="email" required>
                </div>
                <div class="form">
                    <label for="password"><h3>Create Password</h3></label>
                    <input type="password" required>
                </div>
                <div class="form">
                    <label for="confirm-password"><h3>Confirm Password</h3></label>
                    <input type="password" required>
                </div>
                <div class="form">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>

</section>
