@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="hero-1">
        <h1><b>Forget Busy Work,<br>Start Next Vacation</b></h1>
        <p>We provide what you need to enjoy your<br> holiday with family. Time to make another<br> memorable moments</p>
        <button>Show Me Now</button>
        <div class="icon-items">
           <div class="item">
              <img src="Img/icon/lock.png" alt="">
              <p><b>80,409 </b>Travelers</p>
           </div>
           <div class="item" style="margin-left:15px;">
                <img src="Img/icon/snap.png" alt="">
              <p><b>862 </b>Treasures</p>
           </div>
                <div class="item" style="margin-left:15px;">
                <img src="Img/icon/location.png" alt="">
                    <p><b>1,492 </b>Cities</p>
                </div>
        </div>
      
    </div>
    <div><img src="Img/topRight.png" class="hero-image" /></div>
    <div class="hero-no-image"></div>
</section>

<section class="section-2">
    <div class="h1-sec-2"><h1>Most Picked</h1></div>
    <div class="main-div">
        <div class="long" style="background-image: url('img/MostPick1.png')">
            <div class="long-price">
                <b><span>$50 per night</span></b>
            </div>
            <p><span>Blue Origin Farms</span><br>Jakarta, Indonesia</p>
        </div>
        <div class="short">
            <div class="short-img" style="background-image:url('Img/M1.png')">
                <div class="short-price">
                    <b><span>$22 per night</span></b>
                </div>
                <p><span>Ocean Land</span><br>Bandong, Indonesia</p>
            </div>

            <div class="short-img" style="background-image:url('Img/M3.png')">
                <div class="short-price">
                    <b><span>$856 per night</span></b>
                </div>
                <p><span>Stark House</span><br>Malang, Indonesia</p>
            </div>

            <div class="short-img" style="margin-top:38px; background-image:url('Img/M2.png')">
                <div class="short-price">
                    <b><span>$62 per night</span></b>
                </div>
                <p><span>Vinna Vill</span><br>Malang, Indonesia</p>
            </div>

            <div class="short-img" style="margin-top:38px; background-image:url('Img/M4.png')">
                <div class="short-price">
                    <b><span>$72 per night</span></b>
                </div>
                <p><span>Bobox</span><br>Madan, Indonesia</p>
            </div>

        </div>
    </div>
</section>

<section class="section-3">
    <h1>Houses with beauty backyard</h1>
    <div class="sec-3-img">
        <div class="img-3" style="margin-left: 100px; background-image: url('Img/H1.png');">
            <p><span><b>Tabby Town</b></span><br>Gunung Batu, Indonesia</p>
        </div>
        <div class="img-3" style="margin-left: 28px; background-image: url('Img/H2.png')">
            <p><span><b>Anggana</b></span><br>Bagor, Indonesia</p>
        </div>

        <div class="img-3" style="margin-left: 28px; background-image: url('Img/H3.png')">
            <p><span><b>Seattle Rain</b></span><br>Jarkata, Indonesia</p>
        </div>

        <div class="img-3" style="margin-left: 28px; background-image: url('Img/H4.png')">
            <p><span><b>Wooden Pit</b></span><br>Wanasaba Indonesia</p>
        </div>
    </div>
</section>

<section class="section-4">
    <div class="sec-4-h1"><h1>Hotels with large living room</h1></div>
    <div class="sec-4-img">
        <div class="img-4" style="margin-left: 100px; background-image: url('Img/Lr1.png')" ;>
            <p><span><b>Green Park</b></span><br>Tangerang, Indonesia</p>
        </div>

        <div class="img-4" style="margin-left: 28px; background-image: url('Img/Lr2.png')">
            <p><span><b>Podo Wae</b></span><br>Madun, Indonesia</p>
        </div>

        <div class="img-4" style="margin-left: 28px; background-image: url('Img/Lr3.png')">
            <p><span><b>Silver Rain</b></span><br>Badung, Indonesia</p>
        </div>

        <div class="img-4" style="margin-left: 28px; background-image: url('Img/Lr4.png')">
            <p><span><b>cash Ville</b></span><br>Kemang, Indonesia</p>
        </div>
    </div>
</section>

<section class="section-5">
    <div class="sec-5-h1"><h1>Apartments with kitchen sets</h1></div>
    <div class="sec-5-img">
        <div class="img-5" style="margin-left: 100px; background-image: url('Img/Ks1.png')">
            <p><span><b>PS Wood</b></span><br>Depok, Indonesia</p>
        </div>

        <div class="img-5" style="margin-left: 28px; background-image: url('Img/Ks2.png')">
            <p><span><b>One Five/b></span><br>Jakarta, Indonesia</p>
        </div>

        <div class="img-5" style="margin-left: 28px; background-image: url('Img/Ks3.png')">
            <p><span><b>Minimal</b></span><br>Bogar, Indonesia</p>
        </div>

        <div class="img-5" style="margin-left: 28px; background-image: url('Img/Ks4.png')">
            <p><span><b>Stays Home</b></span><br>Wonosobo, Indonesia</p>
        </div>
    </div>
</section>

<section class="section-6">
    <div class="sec-6-main">
        <div class="sec-6-no-img"></div>
        <div class="sec-6-img"></div>

        <div class="sec-6-text">
            <h3>Happy Family</h3>
            <img src="Img/StarStar.png" alt="">
            <h1>What a great trip with my family and <br> I should try again next time soon ...</h1>
            <p>Angga, Product Designer</p>
            <button>Read their story</button>
        </div>
    </div>
</section>
   
